h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: rgb(216, 200, 200);
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: #ffdfdf;
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(32, 32, 32);
}