img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: rgb(216, 200, 200);
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: #4e0e0e;
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(32, 32, 32);
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(207, 66, 41);
    color: black;
}

div.paragrafo {
    margin: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}